@CHARSET "UTF-8";
table {
	font-size: 12px;
	margin: 45px;
	text-align: left;
	border-collapse: collapse;
}

th {
	width: 150px;
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
}

td {
	padding: 8px;
	border-bottom: 1px solid #fff;
}

tr:hover td {
	background: #d0dafd;
	color: #339;
}
